@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

h1 {
  background-color: white;
  box-shadow: 0px 1px 15px -5px #000000;
  padding: 10px 0;
}
h1 a {
  text-decoration: none;
}
:root {
  --font-size: calc(10px + 1vmin);
}
